.block {
    display: flex;
    flex-flow: column;
    
}
.block-1 {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 70px;
}
.block-1>img {
    margin-right: 1200px;
}
.block-1>button {
    color: brown;
    background: #46d782;
    border: 0;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
}
.block-1>input {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}
.block-meny {
    display: flex;
     justify-content: space-between;
    background-color: darkolivegreen;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.block-meny>a {
    font-size: small;
    text-decoration: none;
}  
.block-content {
    display: flex;
    

}
 .qwerty>button {
    color: #fff;
    background: #46d782;
    border: 0;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
}
 .qwerty1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
 }
 .qwerty1>img {
    margin-left: 500px;
 }