body {
    background-color: #f7f7f7;
}

.block {
    display: flex;
    flex-flow: column;
    
}
.block-1 {
    /* display: flex;
    justify-content: space-between; */
    margin: 20px 70px;
}
.block-1>img {
    float: left;
}
.forma {
    float: right;
}
.block-1 button {
    color: brown;
    background: #46d782;
    border: 0;
    padding: 11px 16px;
    font-size: 16px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    display: inline-block;
}
.block-1 input {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    display: inline-block;
}
.block-meny {
    display: flex;
     justify-content: space-between;
    background-color: darkolivegreen;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.block-meny a {
    font-size: small;
    text-decoration: none;

}  
.block-content {
    display: flex;
    justify-content: space-between;
    margin: 30px 70px;
}
 .qwerty button {
    color: #fff;
    background: #46d782;
    border: 0;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 5px;
}
.qwerty p:first-child {
    color: #0026ff
}
.qwerty p {
    
}

h1 {
    color: red;
}

h1 span {
    color: #54e74e;
}


 .qwerty1 {
    display: flex;
 }




	
.clearfix:before,
.clearfix:after {
  content: ".";    
  display: block;    
  height: 0;    
  overflow: hidden;        
}